$c1: black;
$c2: rgb(48, 48, 48);
$c3: rgb(95, 73, 73);
$c4: rgb(151, 44, 44);
$c5: rgb(240, 240, 240);
$c6: rgba(36, 36, 36, 0.343);

$cNav: $c4;
$cBg: $c1;
$cBg2: $c2;
$cCard: $c3;
$cText: $c5;
$cbgText: $c6;

$d_foo : 20px;


$fm_1 : 'lemon', sans-serif;
$fm_2 : 'Jomhuria';
$fm_3 : 'Jockey One';
 
$bp_md : 890px;
$bp_sm : 550px;
$bp_xsm : 370px;

*{
    color: $cText;
}

$fs_xsm: clamp(12px, 2.2vw, 18px);
$fs_sm: clamp(14px, 2.4vw, 21px);
$fs_md: clamp(16px, 2.7vw, 24px);
$fs_lg: clamp(19px, 3vw, 33px);
$fs_xlg: clamp(24px, 3.4vw, 38px);

.general-page{
    padding: 2rem;
    background-color: $c2;
    h1{
        font-size: clamp(18px, 2.7vw, 25px);
    }
}
@media (max-width:$bp_sm) {
    .general-page{
        padding: 1rem !important;
        
    }
}
.cta{
    background-color: $cText;
    color: $c2;
    padding: 6px 10px;
    border-radius: 7px;
    width: fit-content;
}

@keyframes comparsatesto {
    from {
        height: 0;
        opacity: .4;
    }
    to {
        opacity: 1;
        height: 100%;
    }
}
@keyframes comparsatesto1 {
    from {
        font-size: 0;
        opacity: .4;
    }
    to {
        opacity: 1;
        height: 100%;
    }
}
@keyframes bodycat2 {
    from {
        height: 100%;
        font-size: 0;
        opacity: .4;
    }
    to {
        opacity: 1;
        height: 0%;
    }
}
