$c1: black;
$c2: rgb(48, 48, 48);
$card: rgb(95, 73, 73);
$ctext: rgb(240, 240, 240);
$c4: rgb(151, 44, 44);

$d_foo : 20px;



$bp_md : 890px;
$bp_sm : 550px;
$bp_xsm : 370px;

*{
    color: $ctext;
}

$fs_xsm: clamp(12px, 2.2vw, 18px);
$fs_sm: clamp(14px, 2.4vw, 21px);
$fs_md: clamp(16px, 2.7vw, 24px);
$fs_lg: clamp(19px, 3vw, 33px);
$fs_xlg: clamp(22px, 3.4vw, 38px);

.general-page{
    padding: 2rem;
    background-color: $c2;
    h1{
        font-size: clamp(18px, 2.7vw, 25px);
    }
}
@media (max-width:$bp_sm) {
    .general-page{
        padding: 1rem !important;
        
    }
}
.cta{
    background-color: $ctext;
    color: $c2;
    padding: 6px 10px;
    border-radius: 7px;
    width: fit-content;
}