$c1: black;
$c2: rgb(48, 48, 48);
$c3: rgb(95, 73, 73);
$c4: rgb(151, 44, 44);
$c5: rgb(240, 240, 240);
$c6: rgba(36, 36, 36, 0.343);

$cNav: $c4;
$cBg: $c1;
$cBg2: $c2;
$cCard: $c3;
$cText: $c5;
$cbgText: $c6;

$d_foo : 20px;


$fm_1 : 'lemon', sans-serif;
$fm_2 : 'Jomhuria';
$fm_3 : 'Jockey One';
 
$bp_md : 890px;
$bp_sm : 550px;
$bp_xsm : 370px;

*{
    color: $cText;
}

$fs_xsm: clamp(12px, 2.2vw, 18px);
$fs_sm: clamp(14px, 2.4vw, 21px);
$fs_md: clamp(16px, 2.7vw, 24px);
$fs_lg: clamp(20px, 3.2vw, 35px);
$fs_xlg: clamp(28px, 3.8vw, 39px);

.general-page{
    padding: 2rem;
    background-color: $c2;
    h1{
        font-size: clamp(18px, 2.7vw, 25px);
    }
}
@media (max-width:$bp_sm) {
    .general-page{
        padding: 1rem !important;
        
    }
}
.cta{
    background-color: $cText;
    color: $c2;
    padding: 6px 10px;
    border-radius: 7px;
    width: fit-content;
}


@keyframes comparsatesto1 {
    from {
        transform: scale(0);
        opacity: .4;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes bodycat2 {
from {
    transform: scale(1, 1);
    }
    
    30% {
    transform: scale(1.25, 0.75);
    }
    
    40% {
    transform: scale(0.75, 1.25);
    }
    
    50% {
    transform: scale(1.15, 0.85);
    }
    
    65% {
    transform: scale(0.95, 1.05);
    }
    
    75% {
    transform: scale(1.05, 0.95);
    }
    
    to {
    transform: scale(1, 1);
    }
      
}
@keyframes bodycat1 {
from {
    transform: scale(1, 1);
    }
    
    30% {
    transform: scale(1.11, 0.8);
    }
    
    40% {
    transform: scale(0.8, 1.11);
    }
    
    50% {
    transform: scale(1.06, 0.85);
    }
    
    65% {
    transform: scale(0.95, 1.01);
    }
    
    75% {
    transform: scale(1.01, 0.95);
    }
    
    to {
    transform: scale(1, 1);
    }
      
}
